@model CompleteSchoolManagement.Models.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teacher Details</h2>

<div>
    @*<h4>Teacher</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-outline-warning" href="@Url.Action("Edit","Teachers",new {id=Model.Id })">Edit</a>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ |
    <a class="btn btn-outline-dark" href="@Url.Action("Index","Teachers")">Back to List </a>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
