@model CompleteSchoolManagement.Models.Material

@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Material</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laboratory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laboratory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courses.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.Name)
        </dd>

    </dl>
</div>

<a href=" @Url.Action("MyCourses", "Student", new { id = ViewBag.rId }) " class="btn btn-danger w-100">Back</a>
